extends ./layout.jade

block style
	link(rel="stylesheet" href="/css/post.css")

block content
	.pageContent
		#main
			.container(ng-controller='catCtrl')
				.row
					h1.postTitle.text-center 404: Page not Found
block script
	script
		:coffee-script
			$('#loaderGif').fadeOut 'slow'