nav.navbar.navbar-default.navbar-fixed-top {
  background: #fff;
  position: absolute;
  top: 0px;
  border-bottom-width: 5px;
  border-color: #cbdaf1;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav li a {
  font-size: 16px;
  font-weight: 700;
  color: #2c64b2;
}
nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav li a:hover,
nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav li a:focus {
  color: #000;
}
@media only screen and (max-width: 769px) {
  nav.navbar.navbar-default.navbar-fixed-top {
    width: 100%;
    height: 90px;
    margin-bottom: 0px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons {
    display: none;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain {
    margin-top: 10px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-header .navbar-brand {
    margin-top: -5px;
    padding-right: 0px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-header .navbar-brand img {
    width: auto;
    height: 45px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-header button {
    background: transparent;
    border: none;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar {
    border: none;
    width: 100%;
    height: auto;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav {
    margin-top: 17px;
    margin-bottom: 0px;
    background: #2c64b2;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav li a {
    margin: auto 10%;
    color: #fff;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav li a i.fa {
    float: right;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .open a,
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .open a:hover,
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .open a:focus {
    background: transparent;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .dropdown .dropdown-menu {
    padding: 0px;
    margin: auto 10%;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #2c64b2;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .dropdown .dropdown-menu a {
    color: #fff;
    margin: auto 0px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .dropdown .dropdown-menu a:hover,
  nav.navbar.navbar-default.navbar-fixed-top #navMain #mobileNavbar .navbar-nav .dropdown .dropdown-menu a:focus {
    background-color: #fff;
    color: #000;
  }
}
@media only screen and (min-width: 769px) {
  nav.navbar.navbar-default.navbar-fixed-top {
    width: 100%;
    height: 128px;
  }
  nav.navbar.navbar-default.navbar-fixed-top .dropdown:hover .dropdown-menu {
    display: block;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons {
    display: block;
    background: transparent;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul {
    list-style-type: none;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul li {
    display: inline;
    margin: 0px 10px 0px 0px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul li a {
    font-size: 12px;
    font-weight: 700;
    width: 160px;
    height: 30px;
    background-color: #2c64b2;
    color: #fff;
    border: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: 6px 0px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul li a:hover,
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul li a:focus {
    background-color: #000;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navClientButtons ul li a i.fa {
    padding-right: 17px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-header .navbar-brand {
    margin-top: -20px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-header .navbar-brand img {
    width: 285px;
    height: 60px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav {
    margin-top: 10px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .open a,
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .open a:hover,
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .open a:focus {
    background: transparent;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .dropdown a.dropdown-toggle {
    padding-bottom: 42px;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .dropdown .dropdown-menu {
    width: 225px;
    height: auto;
    background-color: #2c64b2;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .dropdown .dropdown-menu a {
    color: #fff;
  }
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .dropdown .dropdown-menu a:hover,
  nav.navbar.navbar-default.navbar-fixed-top #navMain .navbar-nav .dropdown .dropdown-menu a:focus {
    color: #000;
  }
}
footer {
  border-top: 5px solid #d5e1f1;
  background-color: #f3f6fb;
}
footer #footerClientButtons {
  display: block;
  background: transparent;
}
footer #footerClientButtons a {
  font-size: 12px;
  font-weight: 700;
  width: 160px;
  height: 30px;
  background-color: #2c64b2;
  color: #fff;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 6px 0px;
}
footer #footerClientButtons a:hover,
footer #footerClientButtons a:focus {
  background-color: #000;
}
footer #footerClientButtons a i.fa {
  padding-right: 17px;
}
footer #footerLinks ul {
  font-weight: 700;
  display: block;
  margin: auto;
  list-style-type: none;
}
footer #footerLinks ul li {
  display: inline;
}
footer #footerLogo img {
  display: block;
  margin: auto;
}
footer #copyWrite {
  color: #7f7f7f;
  text-align: center;
}
footer .siteBy {
  color: #7f7f7f;
  text-align: center;
  margin: 20px auto 20px;
}
footer .siteBy img {
  width: 200px;
  height: auto;
}
@media only screen and (max-width: 769px) {
  footer #footerClientButtons #form a {
    display: block;
    margin: 0px auto 25px;
  }
  footer #footerClientButtons #login a {
    display: block;
    margin: 0px auto;
  }
  footer #footerLinks ul {
    padding: 0px;
    margin: 45px auto;
    text-align: center;
  }
  footer #footerLinks ul li {
    display: block;
    margin: 10px auto;
  }
  footer #footerLinks ul li a {
    text-decoration: none;
  }
  footer #footerLinks ul li a:hover,
  footer #footerLinks ul li a:focus {
    color: #000;
  }
  footer #footerLogo img {
    width: auto;
    height: 35px;
    margin: 45px auto 30px;
  }
  footer #copyWrite {
    margin: 0px auto 15px;
  }
}
@media only screen and (min-width: 769px) {
  footer #footerClientButtons {
    display: block;
    margin: -20px auto 0px;
  }
  footer #footerClientButtons #form a {
    float: right;
  }
  footer #footerClientButtons #login a {
    float: left;
  }
  footer #footerLinks ul {
    margin: 45px auto;
    text-align: center;
  }
  footer #footerLinks ul li {
    display: inline;
  }
  footer #footerLinks ul li a {
    text-decoration: none;
    padding: 5px 20px;
  }
  footer #footerLinks ul li a:hover,
  footer #footerLinks ul li a:focus {
    color: #000;
  }
  footer #footerLogo img {
    width: auto;
    height: 40px;
    margin: 35px auto;
  }
  footer #copyWrite {
    margin: 0px auto 25px;
  }
  footer .siteBy {
    margin-top: 0px;
  }
}
html body {
  font-family: 'museo-sans';
}
html body #loaderGif {
  position: fixed;
  0: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/img/balls.svg") 50% 50% no-repeat #f9f9f9;
}
html body a {
  text-decoration: none;
  font-weight: 700;
}
html body a:hover,
html body a:focus,
html body a:active {
  text-decoration: none;
}
html body a img:hover,
html body a img:focus {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
@media only screen and (min-width: 769px) {
  html body .mobile-only {
    display: none;
  }
}
@media only screen and (max-width: 769px) {
  html body .mobile-only {
    display: block;
  }
}
html body {
  color: #000;
}
html body #featureImg {
  overflow: hidden;
  z-index: -1;
}
html body #featureImg .item {
  overflow: hidden;
  display: block;
}
html body #headTitle {
  width: 100%;
  height: auto;
}
html body #headTitle h1 {
  text-align: center;
  margin: auto;
  color: #fff;
}
html body #headTitle h3 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 0px;
}
html body #main .container .row .col-md-4 .profile.thumbnail {
  border: none;
}
html body #main .container .row .col-md-4 .profile.thumbnail .name {
  font-weight: 700;
  text-transform: uppercase;
  color: #2c64b2;
}
html body #main .container .row .col-md-4 .profile.thumbnail .position {
  font-weight: 700;
  text-transform: uppercase;
  color: #3f3f3f;
}
html body #main .container .row .col-md-4 .profile.thumbnail .phone {
  font-weight: 700;
}
html body #main .container .row .col-md-4 .profile.thumbnail .email {
  font-weight: 700;
  color: #2c64b2;
}
html body #main .container .row .col-md-4 .profile.thumbnail .btn.btn-default {
  background-color: #2c64b2;
  color: #fff;
  width: 160px;
  height: 30px;
  border: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: block;
  margin: auto;
}
html body #main .container .row .col-md-4 .profile.thumbnail .btn.btn-default:hover {
  background-color: #000;
  color: #fff;
}
html body #main .container .row .col-md-8 .row .specialty,
html body #main .container .row .col-md-8 .row .residency,
html body #main .container .row .col-md-8 .row .about {
  font-weight: 700;
  text-transform: uppercase;
  color: #2c64b2;
}
html body #main .container .row .col-md-8 .row .htmlrendered {
  color: #3f3f3f;
}
@media only screen and (max-width: 769px) {
  html body #featureImg {
    margin-top: 90px;
  }
  html body #headTitle {
    position: absolute;
    top: 155px;
  }
  html body #headTitle h1 {
    font-size: 36px;
    font-weight: 700;
  }
  html body #main .container {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .name {
    font-size: 22px;
    margin: 15px auto 5px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .email {
    font-size: 16px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .btn.btn-default {
    margin: 15px auto 5px;
  }
  html body #main .container .row .col-md-8 .row {
    padding-left: 20px;
    padding-right: 20px;
  }
  html body #main .container .row .col-md-8 .row .specialty,
  html body #main .container .row .col-md-8 .row .residency,
  html body #main .container .row .col-md-8 .row .about {
    font-size: 22px;
    margin: 0px auto 10px;
    text-align: left;
  }
  html body #main .container .row .col-md-8 .row .htmlrendered {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    margin-bottom: 15px;
  }
  html body #main .container .row .col-md-8 .row .htmlrendered ul {
    padding-left: 20px;
    margin: 0px auto 11px;
  }
}
@media only screen and (min-width: 769px) {
  html body #featureImg img {
    margin-top: 0px;
  }
  html body #headTitle {
    position: absolute;
    top: 200px;
  }
  html body #headTitle h1 {
    font-size: 60px;
    font-weight: 700;
  }
  html body #main .container {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .name {
    font-size: 22px;
    margin: 30px auto 10px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .email {
    font-size: 16px;
  }
  html body #main .container .row .col-md-4 .profile.thumbnail .btn.btn-default {
    margin: 30px auto 10px;
  }
  html body #main .container .row .col-md-8 .row {
    padding-left: 50px;
    border-left: 1px solid #2c64b2;
  }
  html body #main .container .row .col-md-8 .row .specialty,
  html body #main .container .row .col-md-8 .row .residency,
  html body #main .container .row .col-md-8 .row .about {
    font-size: 22px;
    margin: 0px auto 20px;
    text-align: left;
  }
  html body #main .container .row .col-md-8 .row .htmlrendered {
    font-size: 16px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 30px;
  }
  html body #main .container .row .col-md-8 .row .htmlrendered ul {
    padding-left: 20px;
    margin: 0px auto 22px;
  }
}
