@import './includes/variables'
@import './includes/layout'
@import 'nib'
@import 'rupture'

html body
	color black
	#featureImg
		//Very important
		overflow hidden
		z-index -1
		.item
			overflow hidden
			display block
	#headTitle
		size 100% auto
		h1
			text-align center
			margin auto
			color white
	#main
		p
			text-align center
			margin auto
			color grey

	+below(769px)
		#featureImg
			margin-top 90px
		#headTitle
			absolute top 155px
			h1
				font-size: 36px
				font-weight: 700
		#main
			padding-top 40px
			padding-bottom 20px
			p
				font-size: 16px
				line-height 25px
				margin 0px 8% 20px
				color grey
	+above(769px)
		#featureImg
			img
				margin-top 0px
		#headTitle
			absolute top 200px
			h1
				font-size: 60px
				font-weight: 700
		#main
			padding-top 80px
			padding-bottom 40px
			p
				font-size: 16px
				line-height 25px
				margin 0px 8% 40px
				color grey