@import './includes/variables'
@import './includes/layout'
@import 'nib'
@import 'rupture'

html body
	color black
	#featureImg
		//Very important
		overflow hidden
		z-index -1
		.item
			overflow hidden
			display block
	#headTitle
		size 100% auto
		h1
			text-align center
			margin auto
			color white
	#main
		.container
			.row
				img
					display block
					margin auto
			.location
				.row
					.title
						size 1142px 212px
						max-width 100%
						display block
						.officeName
							font-weight: 700
							display block
							color white
							.headOffice
								font-weight: 700
					.fullAddress
						font-size: 16px
						color grey
						text-align: center
						border-bottom 1px solid border-grey
					.contact
						color grey
						list-style-type none
						border-bottom 1px solid border-grey
						li.telephone
						li.fax
						li.tollfreephone
						li.tollfreefax
						li.email
							.key
								font-weight: 700
								text-align: right
							.value
								text-align: left
						.email .value
							color blue
				.team
					.teamName
						h1
							color grey
							text-align: center
					.teamMembers
						ul
							list-style-type none
							li
								a
									text-transform: uppercase

	+below(769px)
		#featureImg
			margin-top 90px
		#headTitle
			absolute top 155px
			h1
				font-size: 36px
				font-weight: 700
		#main
			.container
				//.row
					//img
				.location
					.row
						.title
							.officeName
								line-height 20px
								font-size 45px
								padding-top 100px
								.headOffice
									font-size 16px
						.fullAddress
							margin 0px 10%
							line-height 28px
							padding-top 25px
							padding-bottom 25px
						.contact
							margin 0px 10%
							padding-top 25px
							padding-bottom 25px
							padding-left 0px
							font-size 16px
							li.telephone
							li.fax
							li.tollfreephone
							li.tollfreefax
							li.email
								line-height 25px
								.key
									padding-left 0px
								.value
									padding-right 0px
							.email .value
								color blue
					.team
						.teamName
							h1
								margin-top 25px
								font-size 23px
						.teamMembers
							ul
								padding-left 0px
								margin-bottom 40px
								columns 1
								-webkit-columns 1
								-moz-columns 1
								li
									line-height 30px
									text-align: center
									a
										font-size 16px
	+above(769px)
		#featureImg
			img
				margin-top 0px
		#headTitle
			absolute top 200px
			h1
				font-size: 60px
				font-weight: 700
		#main
			.container
				//.row
					//img
				.location
					.row
						.title
							.officeName
								line-height 20px
								font-size 45px
								padding-top 100px
								.headOffice
									font-size 16px
						.fullAddress
							margin 0px 25%
							line-height 28px
							padding-top 40px
							padding-bottom 40px
						.contact
							margin 0px 25%
							padding-top 40px
							padding-bottom 40px
							font-size 16px
							li.telephone
							li.fax
							li.tollfreephone
							li.tollfreefax
							li.email
								line-height 25px
								//.key
								//.value
							.email .value
								color blue
					.team
						.teamName
							h1
								margin-top 40px
								font-size 23px
						.teamMembers
							ul
								margin auto 15% 65px 25%
								columns 2
								-webkit-columns 2
								-moz-columns 2
								li
									line-height 40px
									text-align: left
									a
										font-size 16px
