@import './includes/variables'
@import './includes/layout'
@import 'nib'
@import 'rupture'

html body
	color black
	#featureImg
		//Very important
		overflow hidden
		z-index -1
		.item
			overflow hidden
			display block
	#headTitle
		display block
		size 100% auto
		h1
			text-align center
			margin auto
			color white
	#postsFilter
		background-color #F3F6FB
		border-bottom 5px solid #D5E0F0
		.container
			ul
				list-style-type none
				display table
				margin auto
				li
					margin 35px 37px
					display inline-block
					.btn.btn-default
						font-size: 25px
						font-weight: 700
						background-color blue
						color white
						size 210px 50px
						border none
						border-radius 0px
						display block
						margin auto
						i.fa
							font-size: 30px
						&:hover
							background-color black
							color white
	#main
		.container
			.row.post
				.col-md-4
					a
						img
							size 270px 270px
				.col-md-8
					.row
						a
							.postTitle
								border-bottom 1px solid #D5E0F0
								font-weight: 700
								color blue
						ul
							margin 15px auto 0px
							list-style-type none
							display block
							padding-left 0px
							li
								font-weight: 700
								text-transform: uppercase
								font-size 16px
								display inline
								margin auto 15px auto 0px
							.category
								color blue
							.date
								border-left 2px solid blue
								padding-left 15px
								color blue
					.row
						.postExcerpt
							color grey

	+below(769px)
		#featureImg
			margin-top 90px
		#headTitle
			absolute top 155px
			h1
				font-size: 36px
				font-weight: 700
		#postsFilter
			.container
				ul
					display table
					li
						margin 35px 37px
						display inline-block
		#main
			.container
				.row.post
					margin 60px auto
					.col-md-4
						a
							img
								display block
								margin auto
					.col-md-8
						.row
							a
								.postTitle
									text-align: center
									margin 0px
									padding-top 20px
									padding-bottom 5px
									font-size 22px
									border none
							ul
								display table
							.postExcerpt
								display none

	+above(769px)
		#featureImg
			img
				margin-top 0px
		#headTitle
			absolute top 200px
			h1
				font-size: 60px
		#postsFilter
			.container
				ul
					display table
					li
						margin 35px 37px
						display inline-block
		#main
			.container
				.row.post
					margin 90px auto
					.col-md-4
						a
							img
								margin-top 7px
					.col-md-8
						.row
							a
								.postTitle
									margin 0px
									padding-bottom 20px
									border-bottom 1px solid #D5E0F0
									font-size 40px
							.postExcerpt
								font-size 16px
								line-height 28px
								text-align: left
								margin 25px auto 0px