@import './variables.styl'
@import './navbar.styl'
@import './footer.styl'
@import 'nib'
@import 'rupture'

html body
	font-family font
	#loaderGif
		fixed 0px 0px
		size 100% 100%
		z-index 9999
		background url('/img/balls.svg') 50% 50% no-repeat rgb(249,249,249)
	a
		text-decoration none
		font-weight 700
		&:hover
		&:focus
		&:active
			text-decoration none
		img:hover
		img:focus
			opacity 0.8

	+above(769px)
		.mobile-only
			display none
	+below(769px)
		.mobile-only
			display block