@import './variables.styl'
@import './navbar.styl'
@import 'nib'
@import 'rupture'

html body
	font-family font
	.collapsing
		transition height 0.6s
	+above(768px)
		.mobile-only
			display none
	+below(768px)
		.mobile-only
			display block